<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{% block default_css %}
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}/css/estilos.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}/css/pwdmeter.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}/css/jquery.qtip.css" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}/css/smoothness/jquery-ui-1.9.2.custom.css" />
    
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery-1.9.1.js"></script>
	{% endblock %}
    
	{% block extra_css %}{% endblock %}
    <title>{% block titulo %}::: AUTANA - Proyectos :::{% endblock %}</title>
</head>

<body>
	<div id="loading" style="" title="">
		<div class="loading_div">Cargando...</div>
	</div>
	<div id="wrap">
		<div id="header"> </div>
		<div id="banner">
			{% block datos_usuario %}{% endblock %}
		</div>
		{% block mensajes %}
		    {% if form.errors %}
                    <div class="msjerror">
                        No se pudo continuar con la aplicacion debido a los siguientes errores:<br/>
                        <ul>
                            {% for field in form %}
                                {% if field.errors %}<li>{{ field.errors|striptags }}</li>{% endif %}
                            {% endfor %}
                        </ul>
                    </div>
            {% endif %}
			{% for message in messages %}
	            {% if 'success' in message.tags %}
	                <div class="msjexito">{{ message }}</div>
	            {% elif 'info' in message.tags %}
	                <div class="msjinfo">{{ message }}</div>
	            {% elif 'warning' in message.tags %}
	                <div class="msjadv">{{ message }}</div>
	            {% elif 'error' in message.tags %}
	                <div class="msjerror">{{ message }}</div>
	            {% elif 'debug' in message.tags %}
	                <div class="msjadv">{{ message }}</div>
	            {% endif %}
	        {% endfor %}
		{% endblock mensajes %}
		<div style="min-height: 200px;">
		    {% block contenido %}{% endblock %}
		</div>
	</div>
    <div id="footer">
	  	Av Universidad, esquina "El Chorro", torre MCT, piso 18. Telf: (58212) 555.75.42 / 75.43<br />
	  	FAX: (58212) 555.77.17. Correo: fidetel@mcti.gob.ve
	</div>
	
</body>

{% block default_js %}
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/util.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/dynamic-formset.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery-ui-1.10.1.custom.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery.ui.datepicker-es.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery.validate.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/additional-methods.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/custom-methods.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/pwdmeter.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery.qtip.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery.counter-2.1.js"></script>
	
	<script>
        $(document).ready(function (){
            $('.qtip_arr_izq').qtip({
                position: {
                    my: 'right top', // Use the corner...
                    at: 'left top' // ...and opposite corner
                },
                style: {
                    classes: 'qtip-shadow qtip-tipped'
                }
            });
            $('.qtip_arr_der').qtip({
                position: {
                    my: 'left bottom', // Use the corner...
                    at: 'right top' // ...and opposite corner
                },
                style: {
                    classes: 'qtip-shadow qtip-tipped'
                }
            });
            
            $("#loading").dialog({
                autoOpen: false,
                height: 100,
                width: 200,
                modal: true,
                closeOnEscape: false,
                draggable: false,
                resizable: false,
                dialogClass: "no-titlebar",
            });
            
            $(document).ajaxStart(function() {
                $("#loading").dialog("open");
            }).ajaxStop(function() {
                $("#loading").dialog("close");
            });
            $( "#accordion" ).accordion();
        });
    </script>
	
{% endblock %}

{% block extra_js %}{% endblock %}

</html> 