<select id={{ tipo_id }} name={{ tipo_name }} class="tiny">
	<option value="">--</option>
	{% for tipo in lista_tipo_persona %}
		<option value="{{ tipo }}">{{ tipo }}</option>
	{% endfor %}
</select>