{% extends "base.html" %}


{% block datos_usuario %}
	<div class="PanelUsuario">
		<div class="NombreUsuario">{{ request.session.usuario_solicitante.nombre}} {{ request.session.usuario_solicitante.apellido}}</div>
		<div class="bienvenido">Bienvenido:</div>
	</div>
	<div id="menuSup">
	    {% include 'proyectos/menu_superior.html' %}
		
	</div>
{% endblock %}

{% block contenido %}
	<div id="menuL">
	    {% include 'proyectos/menu_lateral.html' %}
	</div>
	<div class="WrapArea">
		<div class="bPaginas">
			<div class="tSeccion">
			{% block titulo_seccion %}{% endblock %}
			</div>
			<div class="separador"> </div>
			<div class="WrapAreaTra">
				<div id="panel_operaciones">
					<div id="panel_operaciones_crud">
						{% block panel_operaciones_crud %}{% endblock %}
					</div>
					<div class="separador"> </div>
					<div id="panel_operaciones_tareas">
						{% block panel_operaciones_tareas %}{% endblock %}
					</div>
				</div>
				{% block area_trabajo %}{% endblock %}
				
			</div>
        </div>
	</div>
{% endblock %}