{% extends "base.html" %}
{% block titulo %}::: AUTANA - Proyectos :::{% endblock %}

{% block contenido %}
	<script>
		
	</script>
	<div class="WrapAreaTra" style="background-image:url({{ MEDIA_URL }}/imagenes/bgPass.png); background-position:bottom right; background-repeat:no-repeat">

		
		{% if not mensaje_error %}
		    <form id="form_confirmar" enctype='multipart/form-data' method="post">
				{% csrf_token %}

				<div class="entrada">
					Ingrese su contraseña dos veces
					<br />
					<br />
				</div>
				<div class="principal">
            <div class="pIzq">
                *Pregunta de Seguridad: 
            </div> 
            <div class="pDer">
                <label>
                    {{ form.pregunta_seguridad }}
                </label>
            </div>            
        </div>
        <div class="principal">
            <div class="pIzq">
                *Respuesta: 
            </div> 
            <div class="pDer">
                <label>
                    {{ form.respuesta_seguridad }}
                </label>
            </div>            
        </div>
				<div class="principal">
					<div class="pIzq">*Contraseña:</div> 
					<div class="pDer">
						<label>
							{{ form.contrasena }}
							<div id="scorebarBorder" class="flotadoi" style="height: 14px;">
		                    	<div id="score" style="margin-top: 1px;">0%</div>
		                    	<div id="scorebar" >&nbsp;</div>
		                    </div>
						</label>
					</div>            
				</div>
				<div class="principal">
					<div class="pIzq">*Confirmar contraseña:</div> 
					<div class="pDer">
						<label>
							{{ form.conf_contrasena }}
						</label>
					</div>
				</div>
			  	<div class="principal">
			  		<div class="pDer">
			  			<div class="obligatorio1">(*) Datos obligatorios</div>
			  		</div>
				</div>
				<div class="principal">
					<input type="submit" value="Aceptar" />
				</div>
			</form>
		{% endif %}
	</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ MEDIA_URL }}/js/ingresa-contrasena.js"></script>
{% endblock %}