<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}/css/login.css" />
        <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}/css/smoothness/jquery-ui-1.9.2.custom.css" />
        <title>::: AUTANA - Proyectos :::</title>
    </head>
    <body>
        
        <div id="loading" style="" title="">
            <div class="loading_div">Cargando...</div>
        </div>
        <div id="wrap">
            <div id="header"> </div>
            <div id="banner"> </div>
            {% block mensajes %}
                {% if form.errors %}
                    <div class="msjerror">
                        No se pudo continuar con la aplicacion debido a los siguientes errores:<br/>
                        <ul>
                            {% for field in form %}
                                {% if field.errors %}<li>{{ field.errors|striptags }}</li>{% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
	            {% for message in messages %}
	                {% if 'success' in message.tags %}
	                    <div class="msjexito">{{ message }}</div>
	                {% elif 'info' in message.tags %}
	                    <div class="msjinfo">{{ message }}</div>
	                </div>
	                {% elif 'warning' in message.tags %}
	                    <div class="msjadv">{{ message }}</div>
	                {% elif 'error' in message.tags %}
	                    <div class="msjerror">{{ message }}</div>
	                {% elif 'debug' in message.tags %}
	                    <div class="msjadv">{{ message }}</div>
	                {% endif %}
	            {% endfor %}
            {% endblock mensajes %}
            
            <form id="form_login" enctype='multipart/form-data' method="post">
                {% csrf_token %}
                <div class="entrada">
                    <br />
                    <strong>Bienvenido al sistema AUTANA </strong>
                    <br />
                    <br />
                    Indique su RIF, contraseña y caracteres de la imagen para ingresar al sistema.
                </div>
                <div class="dEntrada">
                    <div class="dEnIzq">*RIF: </div> 
                    <div class="dEnDer">
                        {{ form.tipo_per }}
                        {{ form.rif }}-
                        {{ form.rif_fin }}
                    </div>
                </div>
                <div class="dEntrada">
                    <div class="dEnIzq">*Contraseña:</div>
                    <div class="dEnDer">
                        <label>
                            {{ form.contrasena }}
                        </label>
                    </div>
                </div>
                <div class="dEntrada">
                    <div class="obligatorio">(*) Datos obligatorios</div>
                </div>
                <div class="dRegistro">
                    <p><a href="{% url 'recuperar_contrasena' %}">¿Olvidó su contraseña?</a>
                    &nbsp;-&nbsp;
                    <a href="{% url 'registrar_solicitante' %}">¿Aún no se ha registrado?</a></p>
                </div>
                <div class="cont_captcha">
                    {{ form.captcha }}
                    <br />
                    <input type="submit" value="Ingresar" />
                </div>
            </form>
        </div>
        <div id="footer">
            Av Universidad, esquina "El Chorro", torre MCT, piso 18. Telf: (58212) 555.75.42 / 75.43<br />
            FAX: (58212) 555.77.17. Correo: fidetel@mcti.gob.ve
        </div>
    </body>
        <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery-1.8.3.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery-ui-1.9.2.custom.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery.validate.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/additional-methods.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/custom-methods.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}/js/util.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}/js/login.js"></script>
            <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery/jquery.counter-2.1.js"></script>
        <script>
        $("#img_captcha_refresh").attr('src', '{{ MEDIA_URL }}/imagenes/reload.png');
    
	    function refrescar_captcha()
	    {
	        $.ajax({
	            type: "GET",
	            url: '{% url 'refrescar_captcha' %}',
	            success: function(data)
	            {
	                var image_url = "{% url 'captcha-image' 0 %}"
	                image_url = image_url.replace('/0', '/' + data);
	                $('.captcha').attr('src', image_url);
	                $('#id_captcha_0').val(data);
	                $('#id_captcha_1').val('');
	            }
	        });         
	    }
        </script>
    
    <script>
        $(document).ready(function (){
            $('.qtip_arr_izq').qtip({
                position: {
                    my: 'right top', // Use the corner...
                    at: 'left top' // ...and opposite corner
                },
                style: {
                    classes: 'qtip-shadow qtip-tipped'
                }
            });
            $('.qtip_arr_der').qtip({
                position: {
                    my: 'left bottom', // Use the corner...
                    at: 'right top' // ...and opposite corner
                },
                style: {
                    classes: 'qtip-shadow qtip-tipped'
                }
            });
            
            $("#loading").dialog({
                autoOpen: false,
                height: 100,
                width: 200,
                modal: true,
                closeOnEscape: false,
                draggable: false,
                resizable: false,
                dialogClass: "no-titlebar",
            });
            
            $(document).ajaxStart(function() {
                $("#loading").dialog("open");
            }).ajaxStop(function() {
                $("#loading").dialog("close");
            });
        });
    </script>
    
</html>