<div id="accordion">
	<h3>
		<img src="{{ MEDIA_URL }}/imagenes/bgUsuario.png" width="30"
			height="30" style="margin: 0 3px 0 12px;" />Usuario
	</h3>
	<div>
	   
		<ul style="list-style:none; margin-left:10px; padding:0px">
			{% if  request.session.ficha == CREAR_FICHA_USUARIO %} 
            <li>
                <a href="{% url 'crear_ficha' %}?tipo_usuario={{FICHA_NATURAL}}">
                Registrar persona natural
                </a>
            </li>
            <br/>
            <li>
                <a href="{% url 'crear_ficha' %}?tipo_usuario={{FICHA_JURIDICA}}">
                Registrar persona juridica
                </a>
            </li>				
			{% endif %}    
		</ul>
	</div>
	{% if MODIFICAR_USUARIO_SOLICITANTE in request.session.permisos %}
	<h3>
		<img src="{{ MEDIA_URL }}/imagenes/bgPass.png" width="30" height="30"
			style="margin: 0 3px 0 12px;" />Contraseña
	</h3>
	<div>
		<ul style="list-style:none; margin-left:10px; padding:0px">
			
			<li><a href="{% url 'recuperar_contrasena' %}">Cambiar
					contraseña </a></li>
		</ul>
	</div>
	{% endif %}
</div> <!-- accordion -->
