{% extends 'proyectos/base.html' %}


{% block panel_operaciones_crud %}
    <a class="guardar" href="javascript:" onclick="$('#form_ficha_natural').submit();"> </a>
{% endblock %}

{% block area_trabajo %}

<form method="post" enctype='multipart/form-data' id="form_ficha_natural">
                
                    {% csrf_token %}
                
<div id="tabsFormFichaNatural">
	<ul>
	<li><a href="#tabsNatural">Datos Solicitante</a></li>
	<li><a href="#tabsJuridica">Datos Institución</a></li>
	<li><a href="#tabsEmpleo">Datos Laborales</a></li>
	</ul>
	
	<div id="tabsNatural">
        <div class="principal">
            <div class="pIzq">*Nombres:
                <label>
                    {{ persona_form.nombre }}
                </label>
            </div>
            <div class="pDer">*Dirección:
                <label>
                    {{ persona_form.direccion }}
                </label>
            </div>
        </div>
        <br/>
        <div class="principal">
            <div class="pIzq">*Apellidos:
                <label>
                    {{ persona_form.apellido }}
                </label>
            </div>
        </div>
        <br/>
        <div class="principal">
            <div class="pIzq">*Cédula:
                <label>
                    {{ persona_form.tipo_per }}-{{ persona_form.rif }}
                </label>
            </div>
            <div class="pDer">*Teléfono:
                <label>
                    {{ persona_form.telefono }}
                </label>
            </div>
        </div>
        <br/>
        <div class="principal">
            <div class="pIzq">*F. Nacimiento:
                <label>
                    {{ persona_form.fecha_nacimiento }}
                </label>
            </div>
        </div>
        <br/>
        <div class="principal">
            <div class="pIzq">*Sexo:
                <label>
                    {{ persona_form.sexo }}
                </label>
            </div>
            <div class="pDer">*email:
                <label>
                    {{ persona_form.correo }}
                </label>
            </div>
        </div>
        <br/>
        <div class="principal">
            <div class="pIzq">*Estado civil:
                <label>
                    {{ persona_form.estado_civil }}
                </label>
            </div>
        </div>
        <br/>
        
        
	</div>
	
	<div id="tabsJuridica">
        <div class="principal">
			<div class="pIzq">*Nombre:
			    <label>
			        {{ empresa_form.razon_social }}
			    </label>
			</div>
			<div class="pDer">*Dirección:
                <label>
                    {{ empresa_form.direccion }}
                </label>
            </div>
		</div>
		<br />
		<div class="principal">
            <div class="pIzq">*Rif:
                <label>
                    {{ empresa_form.tipo_per }}-{{ empresa_form.rif }}-{{ empresa_form.rif_fin }}
                </label>
            </div>
            <div class="pDer">*Zona Postal:
                <label>
                    {{ empresa_form.zona_postal }}
                </label>
            </div>
        </div>
        <br />
        <div class="principal">
            <div class="pDer">*Telefono:
                <label>
                    {{ empresa_form.telefono }}
                </label>
            </div>
        </div>
        <br />
        <div class="principal">
            <div class="pIzq">*email:
                <label>
                    {{ empresa_form.correo }}
                </label>
            </div>
            <div class="pDer">*Área:
                <label>
                    {{ empresa_form.area }}
                </label>
            </div>
        </div>
        <br />
		<div class="principal">
            *Dirección Fiscal:
            {{ empresa_form.estado }} {{ empresa_form.municipio }} {{ empresa_form.parroquia }}    
	    </div>
	    <br/>
	</div>
	
	<div id="tabsEmpleo">
	{{form.as_p}}
	</div>
</div> <!-- tabs -->            
</form>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function (){
		$('#id_estado').change(function(event){
		                cargar_municipios($(this).val());
        });
        $('#id_municipio').change(function(event){
                cargar_parroquias($(this).val());
        });
	});


    function cargar_municipios(id_estado){
        if(id_estado!='')
        {
            $.ajax({
                url: "{% url 'obtener_municipios' %}",
                type: "GET",
                data: {
                    id_estado: id_estado
                },
                dataType: 'json',
                beforeSend: function(data) 
                {
                    $('#id_municipio').html('<option value="">Cargando...</option>');
                    $('#id_parroquia').html('<option value="">Cargando...</option>');
                },
                success: function(data) {
                    var options = '<option value="">Seleccione Municipio</option>';
                    for (var i = 0; i < data.length; i++)
                    {
                        options += '<option value="'+data[i]["id"]+'">' +data[i]["nombre"] +'</option>';
                    }
                    $('#id_municipio').html(options);
                    $("#id_municipio option:first").attr('selected', 'selected');
                }
            });
        }
        else
        {
             $('#id_municipio').html('<option value="">Seleccione Municipio</option>');
        }
        
        $('#id_parroquia').html('<option value="">Seleccione Parroquia</option>');
    };
    
    function cargar_parroquias(id_municipio)
        {
            if(id_municipio!='')
            {
                $.ajax({
                    url: "{% url 'obtener_parroquias' %}",
                    type: "GET",
                    data: {
                        id_municipio: id_municipio
                    },
                    dataType: 'json',
                    beforeSend: function(data) 
                    {
                        $('#id_parroquia').html('<option value="">Cargando...</option>');
                    },
                    success: function(data) {
                        var options = '<option value="">Seleccione Parroquia</option>';
                        for (var i = 0; i < data.length; i++)
                        {
                            options += '<option value="'+data[i]["id"]+'">' +data[i]["nombre"] +'</option>';
                        }
                        $('#id_parroquia').html(options);
                        $("#id_parroquia option:first").attr('selected', 'selected');
                    }
                });
            }
            else
            {
                 $('#id_parroquia').html('<option value="">Seleccione Parroquia</option>');
            }
        }

</script>

{% endblock %}