{% extends "base.html" %}
{% block titulo %}::: AUTANA - Proyectos :::{% endblock %}

{% block contenido %}
    <div class="WrapAreaTra" style="background-image:url({{ MEDIA_URL }}/imagenes/bgPass.png); background-position:bottom right; background-repeat:no-repeat">
        
        <form id="form_cambio_contrasena" enctype='multipart/form-data' method="post">
            {% csrf_token %}

            <div class="entrada">
                Ingrese su RIF y correo electrónico al cual enviar un vínculo de acceso al sistema
                <br />
                <br />
            </div>
            <div class="principal">
                <div class="pIzq">*RIF:</div> 
                <div class="pDer">
                    {{ form.tipo_per }}
                    {{ form.rif }}-
                    {{ form.rif_fin }}
                </div>
            </div>
            <div class="principal">
                <div class="pIzq">*Correo Electrónico: </div> 
                <div class="pDer">
                    <label>
                        {{ form.correo }}
                    </label>
                </div>
            </div>
             <div class="principal">
            <div class="pIzq">
                *Pregunta de Seguridad: 
            </div> 
            <div class="pDer">
                <label>
                    {{ form.pregunta_seguridad }}
                </label>
            </div>            
        </div>
        <div class="principal">
            <div class="pIzq">
                *Respuesta: 
            </div> 
            <div class="pDer">
                <label>
                    {{ form.respuesta_seguridad }}
                </label>
            </div>            
        </div>
                        
        
       
       
            <div class="principal">
                <div class="pDer">
                    <div class="obligatorio1">(*) Datos obligatorios</div>
                </div>
            </div>
            {% if not mensaje_exito %}
                <div class="cont_captcha">
                    {{ form.captcha }}
                    <br />
                    <input type="submit" value="Aceptar" />
                </div>
            {% endif %}
        </form>
        <div class="separadorv"> </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function (){
            $("#img_captcha_refresh").attr('src', '{{ MEDIA_URL }}/imagenes/reload.png');
          });
          function refrescar_captcha()
        {
            $.ajax({
                type: "GET",
                url: "{% url 'refrescar_captcha' %}",
                success: function(data)
                {
                    var image_url = "{% url 'captcha-image' 0 %}"
                    image_url = image_url.replace('/0', '/' + data);
                    $('.captcha').attr('src', image_url);
                    $('#id_captcha_0').val(data);
                    $('#id_captcha_1').val('');
                }
            });         
        }
    </script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/recupera-contrasena.js"></script>
{% endblock %}