@charset "utf-8";
/* CSS Document */

body {
	background-color: #dcf0f7;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	height: 100%;
}

#wrap {
	margin: 5px auto 0px auto;
	width: 1000px;
	background-color: #FFF;
	-webkit-box-shadow: 0px 0px 10px #666666;
	-moz-box-shadow: 0px 0px 10px #000;
	-webkit-border-radius: 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px;
}

#header {
	position: relative;
	width: 1000px;
	height: 55px;
	background-image: url(../imagenes/header.png);
	background-repeat: no-repeat;
	margin-bottom: 5px;
}

#banner {
	position: relative;
	width: 1000px;
	height: 120px;
	background-image: url(../imagenes/BanAuProyectos.jpg);
	background-color: #06F;
}

#menuL {
	position: absolute;
	margin-top: 10px;
	float: left;
	width: 200px;
	height: auto;
	font-family: Arial;
	font-size: 12px;
	color: #333;
	text-decoration: none;
}

#menuSup {
	position: relative;
	height: 25px;
	width: 500px;
	left: 5px;
	top: 90px;
	font-family: Arial;
	font-size: 12px;
	color: #333;
	vertical-align: middle;
}

.WrapArea {
	margin-left: 200px;
	width: 799px;
	min-height: 400px;
	font-family: Arial;
	font-size: 12px;
	color: #333;
	margin-top: 5px;
	border-left: 1px solid #358DBF;
}

.WrapAreaTra {
	width: 100%;
	min-height: 400px;
	margin-top: 40px;
	position: relative;
}

.WrapAreaTab {
	width: 799px;
	font-family: Arial;
	font-size: 12px;
	color: #333;
	margin-top: 5px;
}

.WrapBackground {
	background-position: bottom right; 
	background-repeat: no-repeat;
	position: absolute; 
	width: 100%; 
	height: 100%; 
	z-index: 0;
}

.WrapContenido {
	position: relative; 
	z-index: 1;
}

.entrada {
	position: relative;
	top: 5px;
	width: 600px;
	font-family: Arial;
	font-size: 12px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.bPaginas {
	position: relative;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

.principal {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 15px;
	width: 700px;
	height: 30px;
	font-family: Arial;
	font-size: 12px;
	text-align: center;
}

.principal2 {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 5px;
	width: 700px;
	height: 30px;
	font-family: Arial;
	font-size: 12px;
	text-align: center;
}

.cTexto {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 110px;
	top: 15px;
	width: 700px;
	font-family: Arial;
	font-size: 12px;
	text-align: center;
}

.cDatos {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 5px;
	width: 700px;
	height: 20px;
	font-family: Arial;
	font-size: 12px;
	text-align: center;
}

.tDatos {
	position: relative;
	margin-left: 5px;
	top: 15px;
	height: 30px;
	font-family: Arial;
	font-size: 12px;
	text-align: center;
	margin-bottom: 10px;
}

.pDer {
	position: absolute;
	right: 5px;
	width: 410px;
	height: 29px;
	font-family: Arial;
	font-size: 12px;
	text-align: left;
}

.cdDer {
	position: absolute;
	right: 5px;
	width: 410px;
	height: 20px;
	font-family: Arial;
	font-size: 14px;
	text-align: left;
	line-height: 20px;
	font-weight: normal;
}

.tDer {
	position: absolute;
	width: 410px;
	height: 29px;
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	margin-left: 55px;
}

.pDerDat {
	position: absolute;
	right: 5px;
	width: 410px;
	height: 29px;
	font-family: Arial;
	padding-top: 5px;
	font-size: 12px;
	text-align: left;
}

.pIzq {
	position: absolute;
	left: 5px;
	width: 270px;
	height: 29px;
	font-family: Arial;
	font-size: 12px;
	text-align: right;
	padding-top: 5px;
}

.tIzq {
	position: absolute;
	width: 55px;
	height: 30px;
	font-family: Arial;
	font-size: 12px;
	line-height: 30px;
}

.cdIzq {
	position: absolute;
	left: 5px;
	width: 270px;
	height: 20px;
	font-family: Arial;
	font-size: 12px;
	text-align: right;
	font-weight: bold;
	line-height: 20px;
}

.cDatos2 {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 5px;
	width: 700px;
	font-family: Arial;
	font-size: 12px;
	text-align: center;
}

.cdIzq2 {
	left: 5px;
	width: 270px;
	font-family: Arial;
	font-size: 12px;
	text-align: right;
	font-weight: bold;
	line-height: 20px;
	float: left;
	padding-right: 5px;
}

.cdDer2 {
	right: 5px;
	width: 410px;
	font-family: Arial;
	font-size: 14px;
	text-align: left;
	line-height: 20px;
	font-weight: normal;
	float: left;
}

.principal3 {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 15px;
	width: 700px;
	font-family: Arial;
	font-size: 12px;
	text-align: center;
}

.pIzq3 {
	left: 5px;
	width: 270px;
	font-family: Arial;
	font-size: 12px;
	text-align: right;
	padding: 5px 10px 0 0;
	float: left;
}

.pDer3 {
	right: 5px;
	width: 410px;
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	float: left;
}

#footer {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	bottom: 0px;
	height: 30px;
	width: 1000px;
	font-family: Arial;
	font-size: 12px;
	text-align: center;
	color: #333;
}

.pCaptcha {
	position: relative;
	top: 25px;
	width: 600px;
	height: 150px;
	font-family: Arial;
	font-size: 11px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.planillaArea {
	position: relative;
	width: 600px;
	min-height: 100px;
	font-family: Arial;
	font-size: 12px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.PanelUsuario {
	float: right;
	height: 20px;
	font-family: Arial;
	font-size: 12px;
	color: #333;
	margin-right: 10px;
	text-align: right;
	line-height: 20px;
	position: relative;
}

.NombreUsuario {
	float: right;
	font-family: Arial;
	font-weight: bold;
	font-size: 12px;
	color: #333;
	text-align: right;
	line-height: 20px;
	height: 20px;
	position: relative;
}

.bienvenido {
	float: right;
	font-family: Arial;
	font-size: 12px;
	color: #333;
	text-align: right;
	line-height: 20px;
	height: 20px;
	margin-right: 3px;
}

.WrapTabla {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 15px;
	margin-bottom: 10px;
}

.WrapTabla2 {
	margin-top: 15px;
	margin-bottom: 10px;
	text-align: center;
}

.tSeccion {
	min-width: 300px;
	position: absolute;
	right: 0;
	top: 0;
}

.bSuperiores {
	height: 50px;
	width: 300px;
}

.obligatorio {
	float: right;
	right: 5px;
	width: 330px;
	height: 25px;
	font-family: Arial;
	font-size: 10px;
	text-align: left;
	color: #F00;
}

.obligatorio1 {
	right: 5px;
	width: 330px;
	height: 25px;
	font-family: Arial;
	font-size: 10px;
	text-align: left;
	color: #F00;
}

.cRestante {
	right: 5px;
	width: 330px;
	height: 25px;
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	color: #000;
}

/* Estilo de Tablas */

.tablaAzul {
	border-collapse: collapse;
	border: 2px solid #A0CAEF;
	font: normal 10px Arial;
	background: #f8f8f8;
}

.tablaAzul caption {
	padding: 0 .4em .4em;
	text-align: right;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	color: #333333;
	background: transparent;
}

.tablaAzul td, .tablaAzul th {
	color: #636363;
	border: 1px solid #A0CAEF;
	padding: .3em;
	text-align: right;
}

.tablaAzul thead th, .tablaAzul tfoot th {
	font: normal 11px Arial;
	border: transparent;
	text-align: right;
	font-size: 1em;
	font-weight: bold;
	color: #333333;
	background: #A0CAEF;
}

.tablaAzul tbody td a {
	background: transparent;
	color: #72724c;
	text-decoration: none;
	text-align: right
}

.tablaAzul tbody td a:hover {
	background: transparent;
	color: #636363;
}

.tablaAzul tbody th a {
	font: normal 11px Arial;
	background: transparent;
	color: #333333;
	text-decoration: none;
	font-weight: normal;
}

.tablaAzul tbody th a:hover {
	background: transparent;
	color: #333333;
}

.tablaAzul tbody th, .tablaAzul tbody td {
	vertical-align: middle;
	text-align: right;
}

.tablaAzul tfoot td {
	border: 1px solid #C5BA85;
	background: #C5BA85;
}

.tablaAzul .odd {
	background: #dcf0f7;
}

.tablaAzul tbody tr:hover {
	color: #ffffff;
	background: #F5A9A9;
}

.tablaAzul tbody tr:hover th, .tablaAzul tbody tr.odd:hover th {
	background: #C5BA85;
}

.tablaAzul .foot td {
	border: 1px solid #C5BA85;
	background: #C5BA85;
}

/* Enlaces*/

a:link {
	color: #333;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: #333;
}

a:hover {
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

a:active {
	text-decoration: none;
	color: #333;
}

/**************   ESTILOS CAPTCHA ************************/
.captcha_refresh {
	width: 16px;
	height: 16px;
}

#id_captcha_1 {
	width: 85px;
}
/**************   FIN ESTILOS CAPTCHA ************************/

/**************   ESTILOS PARA LOS MENSAJES ************************/
div.msjexito, div.msjerror, div.msjadv, div.msjinfo {
	font-family: Arial;
	font-style: italic;
	font-size: 13px;
	position: relative;
	margin: 5px;
	padding-left: 5px;
	line-height: 20px;
	vertical-align: middle;
}

div.msjexito li, div.msjerror li, div.msjadv li {
	font-size: 13px;
}

div.msjexito {
	background-color: #AAD37A;
}

div.msjerror {
	background-color: #FCDFDF;
}

div.msjadv {
	background-color: #FDF5A2;
}

div.msjinfo {
	background-color: #A1C9EB;
}

/**************   FIN ESTILOS PARA LOS MENSAJES ************************/

.separador {
	clear: both;
	height: 0px !important;
	overflow: hidden
}

.separadorv {
	clear: both;
	height: 20px;
	font-size: 1px;
}

.flotadoi {
	float: left;
}

.flotadod {
	float: right;
}

.loading_div {
	background-image: url(../imagenes/loading.gif);
	background-repeat: no-repeat;
	height: 32px;
	padding-top: 7px;
	padding-left: 40px;
	margin: 25px 0 0 22px;
}

.no-titlebar .ui-dialog-titlebar {
	display: none;
}

label.error {
	color: #DF0101;
	font-size: 11px;
	font-style: italic;
	margin-left: 10px;
}

#panel_operaciones {
	padding-left: 10px;
	margin: 5px 0 0 30px;
	height: 55px;
	position: relative;
	z-index: 1;
}

#panel_operaciones_crud {
	float: left;
}

#panel_operaciones_tareas {
	float: left;
}

.separadorTareas {
	float: left;
	background-image: url(../imagenes/sep.png);
	height: 50px;
	width: 10px;
}

.hidden {
	display: none;
}

.info_formato {
	font-size: 10px;
	color: #999999;
}

.cont_captcha {
	position: relative;
	top: 25px;
	left: 200px;
	width: 600px;
	height: 150px;
	font-family: Arial;
	font-size: 11px;
	text-align: center;
}

/**************   ESTILOS PARA LOS ICONOS CRUD Y TAREAS ************************/
.consultar {
	float: left;
	width: 55px;
	height: 50px;
	background-image: url(../imagenes/iconos/bConsultar.png);
}

.editar {
	float: left;
	background-image: url(../imagenes/iconos/bEditar.png);
	width: 55px;
	height: 50px;
}

.guardar {
	float: left;
	background-image: url(../imagenes/iconos/bGuardar.png);
	width: 55px;
	height: 50px;
}

.eliminar {
	float: left;
	width: 16px;
	height: 16px;
	background-image: url(../imagenes/iconos/cross.png);
}

.pdf {
	float: right;
	width: 55px;
	height: 50px;
	background-image: url(../imagenes/iconos/bPDF.png);
}

.agregar_telefono {
	float: left;
	width: 16px;
	height: 16px;
	background-image: url(../imagenes/iconos/phone_add.png);
}

.link_pagar {
	float: left;
	background-image: url(../imagenes/iconos/bPagar.png);
	width: 55px;
	height: 50px;
}

.tablaAmort {
	padding: 6px 6px 6px 30px;
	background-image: url(../imagenes/iconos/AmortIco.png);
	background-repeat: no-repeat;
	background-position: 6px 3px;
}
/**************   FIN ESTILOS PARA ICONOS CRUD Y TAREAS ************************/


.ui-accordion .ui-accordion-content {
	padding: 0%;
}