html, body {
	background-color: #dcf0f7;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
#wrap {
	margin: 5px auto 0 auto;
	width: 1000px;
	min-height: 600px;
	height: 100%;
	background-color: #FFF;
	-webkit-box-shadow: 0px 0px 10px #666666;
	-moz-box-shadow: 0px 0px 10px #000;
	-webkit-border-radius: 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px;
}
#header {
	position: relative;
	width: 1000px;
	height: 55px;
	background-image: url(../imagenes/header.png);
	background-repeat: no-repeat;
	margin-bottom: 5px;
}

#banner {
	position: relative;
	width: 1000px;
	height: 120px;
	background-image: url(../imagenes/BanAuProyectos.jpg);
	background-color: #06F;
}
.menuL {
	position: relative;
	width: 250px;
	height: 400px;
	border-right: 1px solid #358DBF;
}

.entrada {
	position: relative;
	top: 5px;
	left: 200px;
	width: 600px;
	font-family: Arial;
	font-size: 12px;
	text-align: center;
}
.dEntrada {
	position: relative;
	top: 25px;
	left: 200px;
	width: 600px;
	height: 30px;
	font-family: Arial;
	font-size: 12px;
	text-align: center;
}
.dEnDer {
	position: absolute;
	right: 5px;
	width: 330px;
	height: 29px;
	font-family: Arial;
	font-size: 12px;
	text-align: left;
}
.dEnIzq {
	position: absolute;
	left: 5px;
	width: 250px;
	height: 25px;
	font-family: Arial;
	font-size: 12px;
	text-align: right;
	padding-top: 5px;
}
.dRegistro {
	position: relative;
	top: 25px;
	left: 200px;
	width: 600px;
	height: 30px;
	font-family: Arial;
	font-size: 11px;
	text-align: center;
}
.obligatorio {
	position: absolute;
	right: 5px;
	width: 330px;
	height: 25px;
	font-family: Arial;
	font-size: 10px;
	text-align: left;
	color: #F00;
}

.cont_captcha {
	position: relative;
	top: 25px;
	left: 200px;
	width: 600px;
	height: 150px;
	font-family: Arial;
	font-size: 11px;
	text-align: center;
}

#footer {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	bottom: 0px;
	height: 30px;
	width: 1000px;
	font-family: Arial;
	font-size: 12px;
	text-align: center;
	color: #333;
}
a:link {
	color: #036;
	text-decoration: none;
}
a:visited {
	color: #900;
	text-decoration: none;
}
a:hover {
	font-weight: bold;
	color: #036;
}
a:active {
	color: #900;
	text-decoration: none;
}

/**************   ESTILOS CAPTCHA ************************/
.captcha_refresh {
	width: 16px;
	height: 16px;
}

#id_captcha_1 {
	width: 85px;
}
/**************   FIN ESTILOS CAPTCHA ************************/

/**************   ESTILOS PARA LOS MENSAJES ************************/
div.msjexito, div.msjerror, div.msjadv, div.msjinfo {
	font-family: Arial;
	font-style: italic;
	font-size: 13px;
	position: relative;
	margin: 5px;
	padding-left: 5px;
	line-height: 20px;
	vertical-align: middle;
}

div.msjexito li, div.msjerror li, div.msjadv li {
	font-size: 13px;
}

div.msjexito {
	background-color: #AAD37A;
}

div.msjerror {
	background-color: #FCDFDF;
}

div.msjadv {
	background-color: #FDF5A2;
}

div.msjinfo {
	background-color: #A1C9EB;
}

/**************   FIN ESTILOS PARA LOS MENSAJES ************************/

.flotadoi {
	float: left;
}

.flotadod {
	float: right;
}

.loading_div {
	background-image: url(../imagenes/loading.gif);
	background-repeat: no-repeat;
	height: 32px;
	padding-top: 7px;
	padding-left: 40px;
	margin: 25px 0 0 22px;
}

.no-titlebar .ui-dialog-titlebar {
	display: none;
}

label.error {
	color: #DF0101;
	font-size: 11px;
	font-style: italic;
	margin-left: 10px;
}