{% extends "base.html" %}

{% block contenido %}
	<script>
		$(document).ready(function (){
			$('#scorebarBorder').hide();

			$("#form_confirmar").validate({
				onkeyup: false,
				rules: {
					contrasena: "required",
					conf_contrasena: {
						required: true,
						equalTo: "#id_contrasena"
					}
				},
				errorPlacement: function(error, element) {
		    		UTIL.insertarErrorElemento(error, element);
			  	},
   				messages: {
					contrasena: "Este campo es obligatorio",
					conf_contrasena: {
						required: "Este campo es obligatorio",
						equalTo: "Debe ser igual a la contraseña"
					}
				}
			});
			$('#id_contrasena').keyup(function(){
				$(this).val()!=""?$('#scorebarBorder').show():$('#scorebarBorder').hide();
				chkPass($(this).val())
			});
		});
	</script>
	<div class="WrapAreaTra" style="background-image:url({{ MEDIA_URL }}/imagenes/bgPass.png); background-position:bottom right; background-repeat:no-repeat">
		{% if mensaje_error %}
			<div class="msjerror">{{ mensaje_error }}</div>
		{% endif %}
		{% if form.contrasena.errors %}
			{% for error in form.contrasena.errors %}
				<div class="msjerror">{{ error }}</div>
	    	{% endfor %}
		{% endif %}
		{% if form.conf_contrasena.errors %}
			{% for error in form.conf_contrasena.errors %}
				<div class="msjerror">{{ error }}</div>
	    	{% endfor %}
		{% endif %}
		{% if not mensaje_error %}
			<form id="form_confirmar" action="{% url 'restablecer_contrasena' %}" method="post">
				{% csrf_token %}

				<div class="entrada">
					Ingrese su nueva contraseña dos veces
					<br />
					<br />
				</div>
				<div class="principal">
					<div class="pIzq">*Contraseña:</div> 
					<div class="pDer">
						<label>
							{{ form.contrasena }}
							<div id="scorebarBorder" class="flotadoi" style="height: 14px;">
		                    	<div id="score" style="margin-top: 1px;">0%</div>
		                    	<div id="scorebar" >&nbsp;</div>
		                    </div>
						</label>
					</div>            
				</div>
				<div class="principal">
					<div class="pIzq">*Confirmar contraseña:</div> 
					<div class="pDer">
						<label>
							{{ form.conf_contrasena }}
						</label>
					</div>
				</div>
			  	<div class="principal">
			  		<div class="pDer">
			  			<div class="obligatorio1">(*) Datos obligatorios</div>
			  		</div>
				</div>
				<div class="principal">
					<input type="submit" value="Aceptar" />
				</div>
			</form>
		{% endif %}
	</div>
{% endblock %}